<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <link href="~/Content/content.css" rel="stylesheet" type="text/css"></link>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/pwcdisplay.js" type="text/javascript"></script>
    <script>
        
        function printPDF() {
            var paraIds = new Object();
            var tableIds = new Object();
            var figureIds = new Object();

            euCAGetIDs(paraIds, tableIds, figureIds);
            euCAPrintPopup(paraIds, tableIds, figureIds, 'HandlePopupResult');
        }

        function HandlePopupResult(ids)
        {
            var results = "";
            for (id in ids) {
                results += ids[id] + ',';
            }
            results = results.substr(0, results.length - 1);

            window.open('@Html.Raw(ViewBag.PdfUri)' + results, '_blank');
        }

    </script>
</head>
<body>

    @*<div class="container body-content">*@
        @RenderBody()
    @*</div>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        function myFunction() {
            $('#pwc a[href]')
                .each(function ()
                {
                    if (this.href.match('localhost') && !this.getAttribute("href").match('#none') && !this.href.match('/#') && this.getAttribute("href").substr(0, 1) != '#')
                    {
                        var splitIdx = this.href.lastIndexOf('/');
                        var uriRoot = this.href.substr(0, splitIdx + 1);
                        var target = this.href.substr(splitIdx + 1);

                        var filename = "";
                        var anchor = "";

                        var anchorIdx = target.lastIndexOf('#');
                        if (anchorIdx != -1) {
                            filename = target.substr(0, anchorIdx);
                            anchor = target.substr(anchorIdx + 1);

                            this.href = uriRoot + '?' + 'file=' + filename + '&anchor=' + anchor;
                        }
                        else {
                            this.href = uriRoot + '?' + 'file=' + target;
                        }
                    }
                });

            @if (!string.IsNullOrEmpty(ViewBag.Anchor))
            {
                @:$("html, body").animate({ scrollTop: $('@ViewBag.Anchor').offset().top }, 1000);
            }
        }
        $(document).ready(myFunction);
    </script>
    
</body>
</html>