
/** GENERIC **/

.s-dmodule h1, .s-dmodule h2, 
.s-dmodule h3, .s-dmodule h4, 
.s-dmodule h5, .s-dmodule h6, 
.s-dmodule .h1,.s-dmodule .h2,
.s-dmodule .h3,.s-dmodule .h4,
.s-dmodule .h5,.s-dmodule .h6   { font-family: verdana, serif; font-weight: 500; line-height: 1.1; color: inherit; font-style: normal; }

.s-dmodule h1, .s-dmodule h2    { text-align: center; }
.s-dmodule h5, .s-dmodule h6    { font-size: 0.95em; }
.s-dmodule h6.center            { text-align: center; }

.s-dmodule, .s-dmodule div, 
.s-dmodule a, .s-dmodule p, 
.s-dmodule ul, .s-dmodule li, 
.s-dmodule caption              { font-family: verdana, serif; font-size: 10pt; line-height: 1.33333333; }

.s-dmodule a                    { cursor: pointer; color: blue; text-decoration: none; }
.s-dmodule a:hover              { text-decoration: underline; background-color:#ddddff; }

.s-dmodule ul                   { margin-top: 0; }

.s-dmodule img                  { border: 1px solid black; }

/* problems in tables 
.s-dmodule div                  { text-align: justify; }
*/

.s-dmodule td                   { padding: 0.2em 0.5em 0.2em 0.2em; }

.s-dmodule div sub              { vertical-align: sub; font-size: smaller; }
.s-dmodule div sup              { vertical-align: super; font-size: smaller; }


/** FRONTMATTER **/

.s-loedm-table { border-collapse: collapse; border-top: 1px solid black; border-bottom: 1px solid black; }

.s-loedm-table table > thead > tr:first-child > td:first-child + td {
    min-width: 265px;
}

/** METADATA **/

.s-dmodule-title                { margin-bottom: 2em; }

.s-metadata, 
.s-dmodule-title h3             { font-weight: normal; text-align: center; margin-top: 0.5em; }

.s-metadata                     { margin-bottom: 30px; }

.s-metadata table               { border-collapse: collapse; border: none; margin-top: 1em; margin-bottom: 1em; margin-left: 5em; margin-right: 5em; table-layout: fixed; }
.s-metadata table table         { margin: 0; }
.s-metadata-def                 { vertical-align: top; padding: 2px; border-right: 1px solid #CCCCCC; }
.s-metadata-term                { vertical-align: top; padding: 2px; }
.s-metadata table table tr td:first-child       { width: 10em; }
.s-metadata table table table tr td:first-child { width: 11em; }

.s-metadata .s-metadata-def     { padding-right: 2em; font-weight: bold; text-align: left; width: 17em; }
.s-metadata .s-metadata-ts      { margin-left: 4.5em; margin-top: 0.2em; }

.s-certification                { font-weight: bold; color: red; }


/** COMMON **/

.s-refs                         { margin-bottom: 0.5em; }
.s-refs table                   { border-bottom: 1px solid black; border-top: 1px solid black; border-collapse: collapse; }
.s-refs thead                   { font-weight: bold; border-bottom: 1px solid black; text-align: left; }
.s-refs td                      { padding: 5px 10px 5px 0px; }

.s-para                         { margin-bottom: 0.7em; }
/* not working
.s-para + .s-para               { display: inline-block; }
*/
.s-para:first-child             { display: inline; margin-left: 0em; margin-bottom: 0; }

.s-change                       { background-color: #E3E3E3 !important; }
.s-change-mark                  { background-color: #E3E3E3 !important; display: block; }
.s-change-mark-inline           { background-color: #E3E3E3 !important; display: inline-block; }

.x-table-sd                     { margin-top: 1.5em; }
.s-table-group                  { margin-top: 1em; }
.x-title-table-sd               { margin-top: 5px; font-weight: normal; margin-bottom: 8px; text-align: left; }

.x-table-sd td                  { vertical-align: top; }

.x-table-sd .bd-r, .x-table-sd .bd-rb { border-right: 1px solid black; }
.x-table-sd .bd-b, .x-table-sd .bd-rb { border-bottom: 1px solid black; }

.pr-tbl                         { margin-top: 10px; }

.s-lPara-c > .x-table-sd        { margin-top: 20px; margin-bottom: 20px; margin-left: 0px; }

.s-caption                      { border: 3px solid black; padding: 0.5em; font-weight: bold; display: block; width: auto; background-color: #333333; color: #FFFFFF; }
.s-caption div                  { text-align: center; vertical-align: middle; font-size: 11pt; }
.s-caption + .s-caption         { margin-top: 0.2em; }

.s-caption-green                { color: #0F0; }
.s-caption-amber                { color: #FFC200; }
.s-caption-yellow               { color: #FF0; }
.s-caption-white                { color: #FFF; }
.s-caption-grey                 { color: #C0C0C0; }
.s-caption-red                  { color: #FFF; background-color: #F00; }

.x-caution-wrapper-sd           { margin-top: 8pt; padding: 2pt; border: 1px solid #9F6000; background-color: #FEEFB3; display:table; }
.x-caution-sd                   { font-weight: bold; color: #222222; display:table-row; }
.x-caution-label-sd             { color: #9F6000; display: table-cell; }
.x-caution-c-sd                 { display: table-cell; padding-left: 5px; width: 100%; }

.x-warning-wrapper-sd           { margin-top: 8pt; padding: 2pt; border: 1px solid #D8000C; background-color: #FFBABA; display:table; }
.x-warning-sd                   { font-weight: bold; color: #222222; display:table-row; }
.x-warning-label-sd             { color: #D8000C; display: table-cell; }
.x-warning-c-sd                 { display: table-cell; padding-left: 5px; width: 100%; }

.x-note-wrapper-sd              { margin-top: 8pt; padding: 2pt; display:table; }
.x-note-sd                      { display:table-row; }
.x-note-label-sd                { font-weight: bold; text-decoration: underline; display: table-cell; width: 60px; min-width: 60px; }
.x-note-c-sd                    { display: table-cell; padding-left: 5px; width: 100%; }

.s-note-para                    { margin-bottom: 0.7em; }

.x-table-sd .x-caution-wrapper-sd,
.x-table-sd .x-warning-wrapper-sd,
.x-table-sd .x-note-wrapper-sd   { margin-left: 0px; margin-right: 0px; }

.s-defList table                { table-layout: fixed; border-collapse: collapse; }
.s-defList table caption        { text-decoration: underline; }
.s-defList table thead          { text-decoration: underline; }
.s-defList table td             { vertical-align: top; padding-top: 0.7em; }
.s-defList table td .s-para:first-child { padding-top: 0; }
.s-defList table td .s-para     { padding-top: 0.7em; }

.s-legend-defList table caption { font-style: italic; text-align: center; }
.s-legend-defList table         { border-collapse: collapse; padding: 0; margin: auto; }
.s-legend-defList table td      { padding-top: 0.4em; vertical-align: top; }

.s-randList ul                  { padding-left: 2em; list-style: none; margin-left: 0; }
.s-randList ul>li ul            { padding-left: 2em; list-style: none; margin-left: 0; }

.s-randList ul>li               { margin-top: 0.7em; }
ul.s-randList-pf01>li:before    { content: " ";     min-width: 1em; width: 1em; margin-left: -1.65em; }
ul.s-randList-pf02>li:before    { content: "\2022"; min-width: 1em; width: 1em; margin-left: -1.65em; }
ul.s-randList-pf03>li:before    { content: "-";     min-width: 1em; width: 1em; margin-left: -1.65em; }
ul.s-randList-pf04>li:before    { content: "\2609"; min-width: 1em; width: 1em; margin-left: -1.65em; }
ul.s-randList-pf05>li:before    { content: "\25CB"; min-width: 1em; width: 1em; margin-left: -1.65em; }
ul.s-randList-pf06>li:before    { content: "\25A1"; min-width: 1em; width: 1em; margin-left: -1.65em; }
ul.s-randList-pf07>li:before    { content: "\2022"; min-width: 1em; width: 1em; margin-left: -1.65em; }

.s-randList ul>li:first-child   { margin-top: 0em; }
.s-randList ul>li:last-child    { margin-bottom: 0.7em; }
.s-randList ul>li>.s-para       { margin-left: -0.2em; margin-bottom: 0.2em; }
.s-randList ul>li>.s-para:first-child { margin-left: 1.2em; display: inline; }

.s-seqList ol                   { padding-left: 1.5em; list-style: decimal; margin-left: 0; }
.s-seqList ol>li ol             { padding-left: 1.5em; list-style: decimal; margin-left: 0; }

.s-seqList ol>li                { margin-top: 0.7em; padding-left: 1em; }

.s-seqList ol>li:first-child    { margin-top: 0em; }
.s-seqList ol>li:last-child     { margin-bottom: 0.7em; }
.s-seqList ol>li>.s-para        { margin-bottom: 0.2em; }
.s-seqList ol>li>.s-para:first-child { display: inline; }

.x-figure-sd                    { text-align: left; }

.x-graphic-sd                   { margin-top: 10px; padding-bottom: 3px;}
.s-figure-title                 { margin-top: 5px; font-weight: bold; margin-bottom: 10px; text-align: left; }
.s-figure-title-toc             { margin-top: 5px; font-weight: bold; margin-bottom: 10px; text-align: left; }

img.s-symbol                    { border: none;}

.s-multimedia                   { margin-top: 5px; margin-bottom: 3px; }
.s-multimedia-title             { }
.s-multimedia-obj               { }

.x-lof-sd                       { }
.x-lot-sd                       { }
.x-lof-item-sd                  { margin-top: 8pt; }
.x-lot-item-sd                  { margin-top: 8pt; }

.s-title                        { margin-top: 3px; margin-bottom: 3px; font-weight: bold; }

.s-footnote                     { display: table-row; font-size: 0.8em; }
.s-footnote-nb                  { display: table-cell; width: 1.3em; padding-bottom: 0.5em; }
.s-footnote-c                   { display: table-cell; padding-bottom: 0.5em; }


/** DESCRIPTION **/

.s-descript                     {}

.s-lPara, 
.s-lPara .s-lPara               { margin-top: 25px; margin-left: 0px; clear: both; }
.s-lPara-c > div                { /*margin-left: 95px;*/ }
.s-lPara-nb                     { /*width: 95px;*/ float: left; font-weight: bold; margin-right: 15px; }
.s-lPara-title                  { font-weight: bold; margin-bottom: 10px; }

.s-para-lPara-first             { /*padding-top: 7pt;*/ }


/** PROCEDURE **/

.s-commonInfo                   { margin-left: 5em; margin-right: 5em; margin-top: 0.2em; padding-bottom: 0.2em; 
                                  border-top: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; }
.s-commonInfo .s-para           { margin-bottom: 0; }
.s-commonInfoSection            { margin-top: 0.2em; }

.s-proced                       {}

.s-proced h2                    { font-weight: bold; }
.s-mainproc                     { margin-top: 4em; }

.s-pStep                        { margin-top: 10px; margin-left: 0px; }
.s-pStep .s-pStep               { margin-top: 10px; margin-left: 35px; }
.s-pStep-c > div                { /*margin-left: 95px;*/ }
.s-pStep-nb                     { /*width: 95px;*/ float: left; font-weight: bold; /*font-size: 16pt;*/ margin-right: 15px; }
.s-pStep-title                  { font-weight: bold; /*font-size: 16pt;*/ margin-bottom: 10px; }
.s-pStep-c .s-para              { margin-bottom: 0px; }

.s-para-pStep-first             { /*padding-top: 7pt;*/ }

.s-pStep-c > .x-table-sd        { margin-top: 20px; margin-bottom: 20px; margin-left: 0px; }

.s-para:first-child,
.s-para:first-child.s-para-pStep-first { padding-top: 0; display: inline; }


/** PREL. and CLOS. REQS **/

.s-prelreqs                     { margin-top: 2em; }
.s-reqgroup-title               { margin-top: 5px; font-weight: bold; margin-bottom: 8px; text-align: left; font-size: 1.1em !important; }
.s-prelreqs .s-reqgroup         { margin-bottom: 25px; }
.s-prelreqs .s-reqgroup > table,
.s-closereqs .s-reqgroup > table { border-bottom: 1px solid black; border-top: 1px solid black; border-collapse: collapse; }

.s-closereqs                    { margin-top: 4em; padding-bottom: 2em; margin-bottom: 2em; }

.s-prelreqs table table,
.s-closereqs table table        { border-top: 1px solid black; border-collapse: collapse; }
.s-prelreqs thead,
.s-closereqs thead              { font-weight: bold; border-bottom: 1px solid black; text-align: left; }

.s-prelreqs td, .s-closereqs td { padding: 5px 10px 5px 0px; }



/* *** *** TITLE-PAGE *** *** */

.s-titlepage {
    margin-top: -20px;
}

.s-titlepage h2 {
    font-size: 18pt;
    font-weight: bold;
    /*margin-bottom: 20px;*/
}

.s-titlepage h1 {
    font-size: 24pt;
    font-weight: bold;
    margin-bottom: 30px;
}

.s-titlepage h3 {
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 10px;
}

.s-titlepage h4 {
    font-size: 14pt;
    font-weight: bold;
}

.s-titlepage h4 + h4 { 
    margin-top: 0.7em;
}

.s-titlepage .ietm_titlepage-logo {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.s-titlepage .ietm_titlepage-logo img {
    width: 80%;
}

.s-titlepage img {
    border: none;
}

.s-titlepage .ietm_titlepage-block {
    margin-top: 2em
}

.s-titlepage .ietm_titlepage-block-content {
    margin-top: 0.4em;
    margin-left: 2em;
}


.s-module a.ietm_hotspot_anchor.selected {
    color: #990000;
    text-decoration: underline;
    font-weight: bold;
}
    

svg path.svg_hotspot {
    fill: #00ff00;
    fill-rule: evenodd;
}

svg path.selected {
    fill: red;
    cursor: pointer;
}
