
html {
	height: 100%;
	width: 100%;
	margin:0px;
	padding:0px;
	border:0px;
	font-size: 10pt;
}

body {
	background-color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
}

img {
	border: 0px;
	margin: 0px;
	padding: 0px;
	margin-right: 4px;
}

.content a:hover {
	text-decoration: underline;
	background: #dddddd;
}

content a:focus {
	background: #668899;
	color:HighlightText;
	width:100%;		
}

content a:active {
	background: #668899;
	color:HighlightText;
	width:100%;		
}

td {
	font-size: 10pt;
}

.s-toc {
	overflow: scroll-x;
	margin-left: 0;
}

#root {
	margin-top: -20px;
    margin-left: -40px;
}

#root_anchor {
	display: none;
}

.ui-layout-content {
	overflow: auto;
	padding: 10px;
}

.ui-layout-pane {
	background: #FFF;
	border: 1px solid #BBB;
	overflow: auto;
}

.ui-layout-west {
	padding: 5px;
}

.ui-layout-center.content {
	padding: 10px;
}

.ui-layout-resizer {
	background-color: #DDD;
	border: none;
	height: 2px;
}

/* Banner */
.banner{
	background-color: #000;
}

.banner img {
	float: left;
}

.banner div.metadata {
	text-align: center;
	color: #fff;
}

/* Navigation bar */
.ui-layout-north.nav {
    background-color: #DDD;
 /* height: 25px; */
    position: fixed;
    width: inherit;
}

.menu {
	padding: 0px;
	list-style: none;
	float: right;
	margin: 3px 5px 0px 0px;
}

.menu li {
	display: inline-block;
}

.menu li a {
	display:block;
}

.menu li a:active {
	background-color: #848484;
}

.menu li a:focus {
	background-color: inherit;
}

.menu li a:hover {
	background-color: #B3B3B3;
}

.menu li a img {
	margin: 0px;
}

/*
.ui-layout-toggler {
}

.ui-layout-toggler-north {
}

.ui-layout-toggler-west {
}
*/

.ui-layout-center {
}

.ui-layout-resizer-west {
}

/*
.ui-layout-resizer-north {
}
*/
