
/* CSS for screen only */
/* Hide header and footer on screen */
 @media screen {
    .ui-layout-pane-south, .footer {
        display: none        	!important;
    }
    
    .metadata {
        padding-top: 10px;
    }
    
    .print_header, .print_disclaimer {
        display: none;
    }
 } 
 
 /* CSS for printing only */
 @media print {

    html, body {
        overflow: visible     	!important; 
        width: 100%        		!important;
        min-width: 100%        	!important;
        height: auto        	!important;
        position: static      	!important;
    }
    
    .ui-layout-pane, .ui-layout-resizer, .ui-layout-toggler,
    .ui-layout-pane-north, .ui-layout-pane-center, .ui-layout-pane-south {
        display:    none        !important;
        position:   relative    !important;
        top:        auto        !important;
        bottom:     auto        !important;
        left:       auto        !important;
        right:      auto        !important;
        width:      auto        !important;
        height:     auto        !important;
        overflow:   visible     !important;
    }

    #pane_print_content_src, #pane_print_content_trad { 
        width: 95%;
    }
    
    .metadata {
        font-weight: bold;
        padding-bottom: 5px;
        text-align: center;
    }
    
    .manual-pt-no {
        padding-bottom: 5px;
        border-bottom: 1px solid black;
    }

    #banner_img, .menu {
        display: none;
    }
        
    #pane_print_header {
        display: table-header-group;
    }
    #pane_print_footer {
        display: table-footer-group;
    }
    
    #pane_print_content_src, #pane_print_content_trad {
        display: table-row-group;
    }
    
    #pane_print_content_trad {
    	page-break-before: always;
    }
    
    .print_header {
        font-size: 1.1em;
        margin: 0px;
        padding: 0px;
    }
    
    .print_disclaimer {
    	display: block;
    	font-size: 0.8em;
    	margin: 0px;
    	padding: 0px;
    	padding-bottom: 5px;
		margin-bottom: 5px;
    	border-bottom: 1px solid black;
    }
    
    .footer {
        padding-top: 5px;
        border-top: 1px solid black;
        font-size: 0.9em;
    }
    
    /* Hide second title of the figures */
    .x-graphic-2-0 > div[class*="x-title"], .x--ufe-fig-title-1-0 {
        display: none;
    }
    /* Remove vertical lines */
    .x-figure-1-0 .x-sheet-1-1, .x-figure-1-0 .x-graphic-1-1, .x-graphic-2-0 .x-sheet-1-1, .x-graphic-1-0 .x-sheet-1-0 {
        border: 0px 			!important;
    }   
    /* Remove id below figure */
    .x-figure-1-0 img + div, .x-graphic-2-0 img + div, .x-graphic-1-0 img + div {
        display: none 			!important;
    }
    
    /* Do not put a page break after the first module or figure of the page */
    .x-module-1-0-first, .x-figure-1-0-first, .x-task-1-0 .x-graphic-1-0-first {
        page-break-before: avoid !important;
    }
    /* Add page break after every module and figure */
    .x-module-1-0 {
        page-break-before: auto;
    }
    
    /*.pr-figure {*/
    .x-figure-1-0 {
        page-break-before: always;
        margin-top: 0px;
    }
    
    .x-task-1-0 .x-graphic-1-0  {
        page-break-before: always;
        margin-top: 0px 		!important;
    }   
    /* Fix page break caused by some margins and long titles when printing figures */
    .x-task-1-0 .pr-figure > div[class*="x-title"], .x-task-1-0 .x-graphic-1-0 .x-sheet-1-0  {
        margin-top: 0px 		!important;
    }
    .x-task-1-0 .pr-figure > div[class*="x-title"] {
        font-size: 12pt 		!important;
    }

	.pr-brk-after, .pr-key-brk {
        page-break-after: always;
    }
    
    .pr-figure-min {
    	display: none;			!important;
    }

    /* Display all tables */
    div[class*="x-table"],  div[class*="x-key"] {
        display: block          !important;
        font-size: 9pt 			!important;
    }
    
    div[class*="x-table"] .x-para, div[class*="x-key"] .x-para {
        margin-top: 5pt 		!important;
        margin-left: 5pt 		!important;
    }

	div[class*="x-caution-wrapper"] {
        width: 90%;
        page-break-inside: avoid;
    }
    
    div[class*="x-warning-wrapper"] {
        width: 90%;
        page-break-inside: avoid;
    }
    
    div[class*="x-note"] {
        width: 90%;
    }

	.pr-figure img {
		width: 100%;
	}

	/*
	table[border="1"] {
        border: 1px solid black;
    }
    table[border="1"] > tbody > tr {
        border: 1px solid black;
    }
    table[border="1"] > thead > tr {
        border: 1px solid black;
    }
    table[border="1"] > tfoot > tr {
        border: 1px solid black;
    }
    table[border="1"] > thead > tr > th {
        border: 1px solid black;
    }
    table[border="1"] > tfoot > tr > th {
        border: 1px solid black;
    }
    table[border="1"] > tbody > tr > td {
        border: 1px solid black;
    }
    */
 }